a:hover {
  text-decoration: none;
}

body {
  padding-top: 40px;
  position: relative;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}




.title  {
  background-image: url("../imgs/beach_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  background-position: center center;
  padding: 310px 0;
  opacity: 0.94;
  background-size: cover;
}

.title-quote {
  text-align: left;
  padding-left: 8%;
  font-size: 50px;
  max-width: 550px;
}

.text-centered {
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  color: #062126;
}

.photo-title {
  font-size: 20px;
}

.photo-subtitle {

}

.about-title {
  font-size: 40px;
}

.mrs-eaves {
  font-family: "mrs-eaves-roman-small-caps",sans-serif;
  color: #062126;
}

.nav-name {
  font-size: 2em;
}

.name {
  font-size: 4em;
  text-align: left;
  padding-left: 10%;
}

.aboutme-padding {
  padding: 0 ;
}

.aboutme-content {
  font-size: 1.3em;
  padding: 80px 80px 0 0;
}

.molly-img  {
  max-width: 350px;
  padding-bottom: 60px;
}

.grid-img {
  max-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services-title  {
  width: 100%;
  height: 400px;
  padding: 200px 0;
  background-image: url("../imgs/beach_background.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.project-description {
  text-align: left;
}

.project-link:hover {
  font-weight: bold;
}

.section-container {
  margin: 50px 0;
}

.services-container {
  margin: 50px 0;
}

.modal-close{
  margin-top:100px;
}

.portfolio-title  {
  width: 100%;
  height: 400px;
  padding: 200px 0;
  background-image: url("../imgs/beach_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

.services-headers {
  text-align: left;
  font-size: 25px;
}

.email-link a:hover {
  font-weight: bold;
}

.contact-title  {
  width: 100%;
  height: 400px;
  padding: 200px 0;
  background-image: url("../imgs/beach_background.jpg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

.portfolio-detail{
  max-width:60%;

}

.portfolio-page-detail{
  text-align: center;
  padding: 100 75 0 75px;
}

/*.footer-color{
  background-color: grey

}*/

.portfolio-title-padding-bottom{
  padding-bottom: 1%;
  font-size: 1.3em;
  
  font-family: 'Montserrat', sans-serif;
}

.navbar-toggle{
  height: 100px !important;
}

/*nav color customization */


.navbar-default {
  background: #ffffff!important;
  min-height:120px !important;
}
.navbar-default .navbar-brand {
  color: #131313 !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #131313 !important;
}
.navbar-default .navbar-text {
  color: #131313 !important;
}
.navbar-default .navbar-nav > li > a {
  color: #131313 !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #131313 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background: #ffffff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #131313 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #131313 !important;
  background-: #a0c7ca !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background: #a0c7ca !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #131313 !important;
  background: #a0c7ca !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #131313 !important;
  background: #a0c7ca!important ;
}
.navbar-default .navbar-toggle {
  border: #a0c7ca !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #a0c7ca !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #131313 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
}
.navbar-default .navbar-link {
  color: #131313 !important;
}
.navbar-default .navbar-link:hover {
  color: #131313 !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #131313 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #131313 !important ;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #131313 !important;
    background: #a0c7ca !important;
  }
}